target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/.classpath
/.project
/.settings/
/logs/
/bin/
/.idea
.DS_Store
build/
.java-version
*.iml
/.gradle/
out/